# Maven
target/

# IDE (NetBeans)
nbproject/private/
nb-configuration.xml
nbactions.xml
build/

# IDE (IntelliJ / Eclipse / VS Code)
.idea/
*.iml
.vscode/settings.json
.classpath
.project
.settings/

# OS
.DS_Store
Thumbs.db
